html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.App {
    font-size: 12px;
}

.xd-detail {
    /* https://spectrum.adobe.com/page/detail/ */
    font-size: 9px;
    letter-spacing: 1.2;
    /* text-transform: uppercase; // doesn't work in uxp */
}

.xd-heading {
    font-size: 16px;
}

.xd-icon {
    display: inline-block;
    flex: 0 0 auto;
    vertical-align: text-bottom;
    height: 12px;
    width: 12px;
}

.xd-icon>svg {
    display: block;
    fill: currentColor;
    height: 100%;
    width: 100%;
}

.xd-button {
    display: inline-flex;
    align-items: center;
    height: 1.5rem;
    padding: 0 0.25rem;
    border-radius: 3px;
}

.xd-button--outlined {
    background-color: #FFFFFF;
    border: 1px solid #DDDCDD;
}

.xd-button .text {
    margin: -1px 4px 0;
}

.xd-button:hover {
    background-color: #EBEBEB;
}

.xd-button:active {
    background-color: #E6E6E6;
}

.flex-splitter {
    flex: 1 1 auto;
}

.uxp-plugin {
    /* Xd doesn't actually use Adobe Clean */
    /* font-family: Adobe Clean, sans-serif; */
}

.uxp-plugin>div, .App, .SelectionPanel, .TextEditorPanel {
    display: flex;
    flex-direction: column;
    height: 100%;
}



.SelectionPanel-header {
    display: flex;
    justify-content: space-between;
    /* margin: 0.5rem 0 0.75rem; */
    align-items: center;
    margin-bottom: 0.5rem;
}

.SelectionPanel-header .xd-detail {
    opacity: 0.6;
    display: inline-flex;
    align-items: center;
    height: 1.5rem;
}

.SelectionPanel-list {
    background-color: #FFFFFF;
    margin: 0 -12px;
}

.SelectionPanel-list-item {
    display: flex;
    align-items: center;
    height: 1.5rem;
    padding: 0 14px;
    font-size: 10px;
}

.SelectionPanel-list-item-repeatgrid .xd-icon {}

.SelectionPanel-list-item-textobject {
    padding-left: 32px;
}

.SelectionPanel-list-item-textobject:hover {
    background-color: #E6F3FB;
}

.SelectionPanel-list-item-textobject .SelectionPanel-list-item-icon {
    opacity: 0.4;
}

.SelectionPanel-list-item-text {
    flex: 1 1 auto;
    margin: 0 0.5rem;
}

.SelectionPanel-list-item-arrow {
    opacity: 0;
}

.SelectionPanel-list-item:hover .SelectionPanel-list-item-arrow {
    opacity: 0.6;
}

.SelectionPanel-footer {
    padding-top: 12px;
    font-style: italic;
    opacity: 0.6;
}


.TextEditorPanel {}

.TextEditorPanel-back {
    margin-left: -0.5rem;
    align-self: flex-start;
}

.TextEditorPanel-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.25rem;
}

.TextEditorPanel-header {}

.TextEditorPanel-TextEditor {
    flex: 1 1 auto;
    margin: 0.5rem 0 1rem;
}

.TextEditorPanel-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
}



.TextEditor {
    display: flex;
    flex-direction: column;
}

.TextEditor-textarea {
    background-color: white;
    margin: 0 !important;
    padding: 0.5rem;
    flex: 1 0 auto;
    height: 100%;
    font-size: 14px;
}

.TextEditor-warning {
    color: #cb6f10;
}



.InfoButton {
    opacity: 0.6;
}