html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.App {
    font-size: 12px;
}

.flex-splitter {
    flex: 1 1 auto;
}

.uxp-plugin>div, .App, .SelectionPanel, .TextEditorPanel {
    display: flex;
    flex-direction: column;
    height: 100%;
}


/* XD STYLES & COMPONENTS */

.xd-detail {
    font-size: 9px;
    letter-spacing: 1.2;
    /* text-transform: uppercase; // doesn't work in uxp !? */
}

.xd-heading {
    font-size: 16px;
}

.xd-icon {
    display: inline-block;
    flex: 0 0 auto;
    vertical-align: text-bottom;
    height: 12px;
    width: 12px;
}

.xd-icon>svg {
    display: block;
    fill: currentColor;
    height: 100%;
    width: 100%;
}

.xd-button {
    display: inline-flex;
    align-items: center;
    height: 1.5rem;
    padding: 0 0.25rem;
    border-radius: 3px;
}

.xd-button--outlined {
    background-color: #FFFFFF;
    border: 1px solid #DDDCDD;
}

.xd-button .text {
    margin: -1px 4px 0;
}

.xd-button:hover {
    background-color: #EBEBEB;
}

.xd-button:active {
    background-color: #e0e0e0;
}

.xd-alert {
    padding: 0.75rem;
    background-color: #e68619;
    border-radius: 2px;
    color: #ffffff;
}

.xd-hint {
    font-style: italic;
    opacity: 0.6;
}

/* Xd doesn't actually use Adobe Clean !? */
.uxp-plugin {
    /* font-family: Adobe Clean, sans-serif; */
}

.util-ellipsis {
    /* display: flex; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* SELECTION PANEL */

.SelectionPanel-header {
    display: flex;
    justify-content: space-between;
    /* margin: 0.5rem 0 0.75rem; */
    align-items: center;
    margin-bottom: 0.5rem;
    z-index: 9;
    order: 0;
}

.SelectionPanel-header .xd-detail {
    opacity: 0.6;
    display: inline-flex;
    align-items: center;
    height: 1.5rem;
}

.SelectionPanel-list {
    background-color: #FFFFFF;
    margin: 0 -12px;
    order: 1;
}

.SelectionPanel-list-item {
    display: flex;
    align-items: center;
    height: 1.5rem;
    padding: 0 14px;
    font-size: 10px;
}

.SelectionPanel-list-item-repeatgrid .xd-icon {}

.SelectionPanel-list-item-textobject {
    padding-left: 32px;
}

.SelectionPanel-list-item-textobject:not(.disabled):hover {
    background-color: #E6F3FB;
}

.SelectionPanel-list-item-textobject .SelectionPanel-list-item-icon {
    opacity: 0.4;
}

.SelectionPanel-list-item-name {
    flex: 1 1 auto;
    margin: 0 0.5rem;
}

.SelectionPanel-list-item-name.disabled {
    opacity: 0.4;
}

.SelectionPanel-list-item-arrow {
    opacity: 0;
}

.SelectionPanel-list-item:hover .SelectionPanel-list-item-arrow {
    opacity: 0.6;
}

.SelectionPanel-footer {
    padding-top: 12px;
    order: 2;
}


/* TEXT EDITOR PANEL */

.TextEditorPanel {}

.TextEditorPanel-back {
    margin-left: -0.5rem;
    align-self: flex-start;
}

.TextEditorPanel-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.25rem;
    order: 0;
}

.TextEditorPanel-header {
    order: 1;
}

.TextEditorPanel-TextEditor {
    flex: 1 1 auto;
    margin: 0.5rem 0 1rem;
    order: 2;
}

.TextEditorPanel-divider {
    order: 3;
}

.TextEditorPanel-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    order: 4;
}

.TextEditorPanel-footer-set-right {
    display: flex;
    /* flex-wrap: wrap-reverse; */
}

.TextEditorPanel-footer-set-left {
    display: flex;
    /* flex-wrap: wrap; */
}

.TextEditorPanel-footer .xd-hint {
    margin: 0 0.5rem;
}


/* TEXT EDITOR */

.TextEditor {
    display: flex;
    flex-direction: column;
    position: relative;
}

.TextEditor-textarea-wrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #E4E4E4;
    flex: 1 0 auto;
    /* height: 100%; */
}

.TextEditor-textarea-wrapper.disabled {
    background-color: #e8e8e8;
}

.TextEditor-textarea-line-numbers {
    flex: 0 0 auto;
    font-size: 10px;
    font-family: ui-monospace, Menlo, Consolas, monospace;
    line-height: 14px;
    margin: 4px;
    opacity: 0.5;
}

.TextEditor-textarea {
    margin: -1px !important;
    flex: 1 1 auto;
    background-color: #FFFFFF;
}

.TextEditor-hidden-nav-input {
    position: absolute;
    top: -100px;
    right: -100px;
    opacity: 0.01;
    height: 1rem;
}

.TextEditor-warning {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    width: calc(100% - 1rem);
    margin: 0.5rem;
}

.TextEditor-warning h4 {
    margin-bottom: 0.25rem;
}


/* INFO BUTTON */

.InfoWrapper {
    position: relative;

    /* z-index doesn't work in UXP !? */
    /* z-index: 9; */
}

.InfoWrapper:before {
    position: absolute;
    border-radius: 99px;
    top: -1rem;
    right: -1rem;
    bottom: -1rem;
    left: -1rem;
}

.InfoButton {
    opacity: 0.6;
}

.InfoPanel {
    position: absolute;
    top: 100%;
    right: 0;

    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 1.5rem;
    z-index: 9;
    border: 1px solid #cfcfcf;
    font-size: 14px;
    width: 280px;
    max-width: calc(100vw - 1rem);
    margin: 0.25rem -0.25rem;

    /* neither of these work !? */
    /* box-shadow: 0 0 0 1px rgb(16 22 26 / 10%),  0 2px 6px rgb(16 22 26 / 20%); */
    /* filter: drop-shadow(rgba(0, 0, 0, 0.15) 0px 1px 4px); */
}

.InfoPanel-header {
    font-weight: bold;
    margin-bottom: 1rem;
}

.InfoPanel-grid {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}

.InfoPanel-grid-command {
    width: 80px;
    flex: 0 0 auto;
}

.InfoPanel-grid span {}
